body {
  font-family: Raleway, Helvetica, Arial, sans-serif;
  background: #e8f2f9;
}

html,
body,
#__next {
  height: 100%;
}
html {
  /* scroll-padding-block-start: 2rem; */
  scroll-behavior: smooth;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --dark: rgba(49, 69, 106, 1);
}

a {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
}

* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
